.tasks {
  a {
    text-decoration: none;
  }

  margin-bottom: 160px;
  &:not(:last-of-type) {
  }

  &:not(:first-of-type) {
    // margin-top: 90px;
  }
  &__title {
    font-family: "Montserrat", sans-serif !important;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;
    color: #64c4ed;

    &__not-task {
      position: absolute;
      width: auto;
      top: 50%;
      left: 31%;
      font-family: Montserrat;
      font-size: 32px;
      font-weight: 700;
      line-height: 39px;
      color: #c9d1d3;
    }

    svg {
      margin-left: 20px;
      cursor: pointer;
      path {
        transition: fill 0.2s linear;
        fill: transparent;
      }
    }

    &:hover {
      svg {
        path {
          fill: black;
        }
      }
    }
  }

  &__items {
    $items: &;
    align-items: center;
    display: flex;
    font-family: "Lato";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-top: 30px;

    &:hover {
      svg {
        opacity: 1;
      }
    }

    &__instrument-panel {
      display: flex;
      gap: 20px;
      align-items: center;
      svg {
        transition: opacity 0.4s ease;
        cursor: pointer;
        opacity: 0;
        path {
          transition: fill 0.4s ease;
          fill: #e3e3e3;
        }
        &:hover {
          path {
            fill: black;
          }

          path {
            transition: fill 0.4s ease;
            fill: black;
          }
        }
        p &:first-child {
          width: 13px;
          height: 13px;
        }
        &:last-child {
          width: 11px;
          height: 11px;
        }
      }
    }

    input {
      margin-left: 10px;
      color: #000000;
      font-family: "Lato", sans-serif;
      border: none;
      width: 100%;
      //   pointer-events: none;
    }
  }

  .checkbox {
    input {
      display: none;
    }
    label {
      $self: &;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 2px solid #e8e8e8;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out,
        border-color 0.3s ease-in-out;
      svg {
        path {
          transition: stroke 0.3s ease-in-out;
          stroke: transparent;
        }
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
      }

      &:hover {
        & {
          background-color: #f2f2f2;
          border-color: #f2f2f2;
        }
        svg {
          opacity: 1;
          path {
            stroke: #b3b3b3;
          }
        }
      }
    }

    input:checked + label {
      svg {
        opacity: 1;
        path {
          stroke: white !important;
        }
      }

      background-color: #4dd599;
      border-color: #4dd599;
    }
  }

  &__add-task {
    position: absolute;
    align-items: center;
    margin-top: 25px;
    display: flex;
    svg {
      $self: &;
      margin-right: 10px;
      cursor: pointer;
      &:hover {
        & {
          transition: transform 0.2s linear;
          transform: rotate(180deg);
        }
        path {
          transition: stroke 0.2s ease;
          stroke: black;
        }
      }
    }

    h3 {
      font-family: "Lato";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.15px;
      cursor: pointer;

      color: #b4b4b4;
    }
  }

  &__task-popup {
    // margin-top: 20px;
    input {
      width: 415px;
      height: 38px;
      border-radius: 4px;
      border: 1px solid #efefef;
      margin-bottom: 15px;
      padding-left: 15px;
      font-family: Lato;
      font-size: 14px;
      line-height: 17px;
      &::placeholder {
        color: #c7c7c7;
      }
    }

    .button {
      button {
        transition: background-color 0.3s ease;
        cursor: pointer;
      }
      button:first-child {
        background-color: #4dd599;
        width: 145px;
        height: 34px;
        border-radius: 4px;
        border: none;
        margin-right: 8px;
        color: #ffffff;
        &:disabled {
          background-color: #5c5f5e !important;
          pointer-events: none;
        }
        &:hover {
          background-color: darken($color: #4dd599, $amount: 10);
        }
      }

      button:last-child {
        width: 90px;
        height: 34px;
        border-radius: 4px;
        border: none;
        color: #9c9c9c;
        &:hover {
          background-color: lighten($color: #e0dbdb, $amount: 2);
        }
      }
    }
  }
}
