.tasks {
  &__title {
    font-family: "Montserrat", sans-serif !important;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;
    color: #64c4ed;

    svg {
      margin-left: 20px;
      cursor: pointer;
      path {
        transition: fill 0.2s linear;
        fill: transparent;
      }
    }

    &:hover {
      svg {
        path {
          fill: black;
        }
      }
    }
  }

  &__items {
    align-items: center;
    display: flex;
    font-family: "Lato";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-top: 30px;

    input {
      margin-left: 10px;
      color: #000000;
      font-family: "Lato", sans-serif;
      border: none;
      width: 100%;
      //   pointer-events: none;
    }
  }

  .checkbox {
    input {
      display: none;
    }
    label {
      $self: &;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 2px solid #e8e8e8;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out,
        border-color 0.3s ease-in-out;
      svg {
        path {
          transition: stroke 0.3s ease-in-out;
          stroke: transparent;
        }
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
      }

      &:hover {
        & {
          background-color: #f2f2f2;
          border-color: #f2f2f2;
        }
        svg {
          opacity: 1;
          path {
            stroke: #b3b3b3;
          }
        }
      }
    }

    input:checked + label {
      svg {
        opacity: 1;
        path {
          stroke: white !important;
        }
      }

      background-color: #4dd599;
      border-color: #4dd599;
    }
  }
}
