* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.todo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 746px;
  height: 529px;
  background-color: #f1f1f1;
  transform: translate(-50%, -50%);
  box-shadow: 2px 20px #f3f3f3;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
  &__sidebar {
    width: 200px;
    height: 100%;
    background-color: #f4f6f8;
    border-right: 1px solid #f1f1f1;
    padding: 60px 20px;
  }
}
